{% extends "base.html" %}
{% load static %}

<!-- for active navigation-->
{% block pagename %}about{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about-us.css' %}">
{% endblock %}

{% block content %}

<div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1">
          <h2 class="font-weight-light">Our Coaching Philosophy</h2>
          <h5>Individualized Attention:</h5>
          <p class="mb-4"> We believe every swimmer is unique. Our coaches ensure that each
            student receives personalized feedback and instruction tailored to their needs.</p>
          <h5>Safety First:</h5>
          <p>Ensuring the well-being of our students is paramount. Our coaches are certified in aquatic
            safety protocols and continuously updated on the latest guidelines.</p>
          <h5>Nurturing Environment:</h5>
            <p>We aim to create a supportive atmosphere where students feel encouraged to push their
            boundaries and celebrate their achievements.</p>
            
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/dne60wscn/image/upload/v1695654636/AquaKids/about-us_idngow.png" alt="About AquaKids" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/dne60wscn/image/upload/v1695654635/AquaKids/aquakids-swimming-coaches_yyl6ac.png" alt="AquaKids Training Coaches" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6">
          <h2 class="font-weight-light">Continued Training for Our Coaches</h2>
          <p class="font-italic text-muted mb-4">At AquaKids, the learning never stops. We invest in regular training programs, workshops, and certifications for our coaches to ensure they are up-to-date with the latest methodologies, techniques, and safety protocols. Our commitment is to provide the best learning experience for our students, and this begins with our instructors' continual growth.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-4 font-weight-light">Our team</h2>
          <p class="font-italic text-muted">We invite you to meet our team, observe a session, or even have a chat with our coaches to understand the AquaKids difference. Join us in crafting a wonderful swimming journey tailored just for you!</p>
        </div>
      </div>
  
      <div class="row text-center">
        <!-- Coach-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/dne60wscn/image/upload/v1695654588/AquaKids/coach-1_ecdxwz.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Jessica Mulvey</h5><span class="small text-uppercase text-muted">Coach</span>
            <p>
              <strong>Credentials:</strong> 12 years as a professional coach, Certified Swim School Administrator, former Olympic trial participant.
              <strong>Specialty:</strong> Competitive strokes and high-performance training.
              <strong>Philosophy: </strong>"To swim is to embrace the water, to work with it. I teach my students to become one with the water for maximum performance."
            </p>
          </div>
        </div>
        <!-- End-->
  
        <!-- Coach-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/dne60wscn/image/upload/v1695654588/AquaKids/coach-2_p01pov.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Lisa Harte</h5><span class="small text-uppercase text-muted">Coach</span>
            <p><strong>Credentials:</strong> 6 years in adaptive swimming coaching, Certified in Therapeutic Aquatics.
                <strong>Specialty:</strong>  Working with students with disabilities and special needs.
                <strong>Philosophy:</strong>  "Water is a great equalizer. I'm passionate about making swimming accessible and enjoyable for everyone."
                </p>
          </div>
        </div>
        <!-- End-->
  
        <!-- Coach-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/dne60wscn/image/upload/v1695654589/AquaKids/coach-4_bzmbya.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Mia Kelly</h5><span class="small text-uppercase text-muted">Coach</span>
            <p><strong>Credentials:</strong> 8 years of coaching experience, Lifeguard Certified, Diploma in Sports Nutrition.
                <strong>Specialty:</strong> Breathing techniques and endurance training.
                <strong>Philosophy:</strong> "The right technique can transform your swimming experience. It's about efficiency, not just effort."
            </p>
          </div>
        </div>
        <!-- End-->
  
        <!-- Coach-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/dne60wscn/image/upload/v1695654589/AquaKids/coach-5_pu4g4i.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Liam Mooney</h5><span class="small text-uppercase text-muted">Coach</span>
            <p><strong>Credentials:</strong> Over 10 years of professional coaching, Certified Aquatic Trainer, former national-level swimmer.
                <strong>Specialty:</strong> Expert in Butterfly stroke and competitive training.
            <strong>Philosophy:</strong> "Swimming is as much about mental strength as it is about physical agility. I aim to foster both in my students."
                </p>
          </div>
        </div>
        <!-- End-->
  
      </div>
    </div>
  </div>
  
{% endblock %}