{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="text-center text-white overflow-hidden">
        <div class="container h-100" style="background-color: #5775E7;">
            <div class="row h-100">
                <div class="col-5">
                    <h1>Learn to swim with us</h1>
                    <div class="my-5">
                        <h4>
                            <a href="#" class="shop-courses-btn btn btn-lg text-uppercase rounded-0 py-3">Courses</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overflow-hidden" style="background-color: #5775E7">
      <img src="/media/boy-underwater.png">
    </div>
    
</div>
{% endblock %}