{% extends "base.html" %}
{% load static %}

<!-- for active navigation-->
{% block pagename %}homepage{% endblock %}

{% block content %}

<div class="container col-xxl-8">
  <div class="row flex-lg-row-reverse align-items-center ">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://res.cloudinary.com/dne60wscn/image/upload/v1696765872/AquaKids/boy-underwater_kj2jkn.webp" class="d-block mx-lg-auto img-fluid" alt="Aqua Kids" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Dive into a World of Aquatic Adventures and Learning!</h1>
      <p class="lead">At AquaKids Swimming School, we are passionate about introducing children to the joys and benefits of swimming. Catering exclusively to our younger swimmers, our marine-themed skill levels guide every child on a magical aquatic journey, from splashing beginners to confident young swimmers.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <div class="btn-group">           
          <a href="courses/categories/" class="btn btn-lg btn-outline-primary" role="button">Courses</a>
          <a href="contact_us/" class="btn btn-lg btn-outline-dark" role="button">Contact us</a>
        </div>   
      </div>
    </div>
  </div>

  <hr class="hr hr-blurry">

  <div class="card-group mb-5">
  {% for category in course_categories %}
    <div class="card"> 
      <div class="col ">
        <div class="card-body">
        {% if category.image %}
          <img class="card-img-top img-fluid rounded-start" src="{{ category.image.url }}" alt="{{ category.image }}" style="height:235px; overflow: hidden">
        {% else %}
          <img class="card-img-top img-fluid rounded-start" src="https://res.cloudinary.com/dne60wscn/image/upload/v1696767191/AquaKids/placeholder_q0wcz9.webp"  alt="{{ category.image }}">
        {% endif %}
        <h3 class="card-title">{{ category.course_type }}</h3>
        <p class="card-text excerpt-height">{{ category.description }}</p>
        <div class="read-more"> 
          <div class="text-center"><a href="/courses/?category={{ category.course_type }}" class="btn btn-readmore btn-primary">Read More</a></div>
        </div>
        </div>    
      </div>
               
    </div>
  {% endfor %}
  </div>
</div>

  {% block testimonials %}
    {% include "includes/testimonials.html" %}
  {% endblock %}

{% endblock %}