{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="text-center text-white overflow-hidden">
        <div class="container h-100" style="background-color: #5775E7;">
            <div class="row" style="width:80%">
                <div class="col text-left">
                    <h1>Dive into a World of Aquatic Adventures and Learning!</h1>
                   
                    <div class="my-5">
                        <p>At Ocean Waves Kids Swimming School, we are passionate about introducing children to the joys and benefits of swimming. Catering exclusively to our younger swimmers, our marine-themed skill levels guide every child on a magical aquatic journey, from splashing beginners to confident young swimmers.</p>
                        <h4>
                            <a href="courses/categories/" class="shop-courses-btn btn btn-lg text-uppercase rounded-0 py-3">Courses</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overflow-hidden" style="background-color: #5775E7">
      <img src="/media/boy-underwater.png">
    </div>
    
</div>
{% endblock %}