{% extends "base.html" %}
{% load static %}

<!-- for active navigation-->
{% block pagename %}timetable{% endblock %}

{% block content %}
<div style="width: 95%; text-align: center; margin: 0 auto;">
  <!-- timetable-->
  <table class="table align-middle mb-0 bg-white" >
      <thead class="bg-light">
        <tr>
          <th>Level</th>
          <th>Category</th>
          <th>Availability</th>
          <th>Day</th>
          <th>Start Time</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
        <tr>
          <td>
            <div class="d-flex align-items-center">
              {% if "placeholder" in course.image.url %}
                <img src="https://res.cloudinary.com/dne60wscn/image/upload/v1696767191/AquaKids/placeholder_q0wcz9.webp" alt="{{ course.name }}"
                  style="width: 45px; height: 45px" class="rounded-circle">
              {% else %}
                <img src="{{ course.image.url }}" alt="{{ course.name }}"
                  style="width: 45px; height: 45px" class="rounded-circle">
              {% endif %}
              <div class="ms-3">
                <p class="fw-bold mb-1 ml-2">{{ course.name }}</p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1">{{ course.category }}</p>
          </td>
          <td>
            {% if course.places < 1 %}
              <span class="badge badge-danger rounded-pill d-inline">Full</span>
            {% elif course.places < 4 %}
              <span class="badge badge-warning rounded-pill d-inline">{{ course.places }} places</span>
            {% else %}
              <span class="badge badge-success rounded-pill d-inline">{{ course.places }} places</span>
            {% endif %}
          </td>
          <td>{{ course.day_of_the_week }}</td>
          <td>{{ course.start_time }}</td>
          <td>
            <a  class="btn btn-link btn-sm btn-rounded" href="/courses/{{ course.id }}/">Read More</a> 
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
{% endblock %}