{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Account Profile</h2>
                    {% for student in students %}
                    <p><span> student name {{ student.name }}</span> <span> <a href="/profile/student/{{ student.id }}/">Edit</a> </span></p>
                    {% endfor %}
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
            {% if user.is_authenticated %}
                <h5>Welcome, {{ user.username }}. Thanks for logging in.</h5>
            {% else %}
                <h5>Welcome, new user. Please log in.</h5>
            {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <p>Student/s Information</p>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <form method="POST" action="{% url 'edit_student'  student.id %}" class="form mb-2">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div>
                                <a class="btn btn-outline" href="{% url 'profile' %}">Cancel</a>
                                <button class="btn btn-blue" type="submit"> Update Student Infomation</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>                 
        </div>           
    </div>     
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    // profile guardian dropwdown
    $("#id_guardian").val("{{ current_user.id }}");
</script>  
{% endblock %}