@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

.fas {
    color: #5775e7;
}
html, body {
	background-color: #fcfcfc;
	color: #131313;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
    font-weight: 700;
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}


.btnx-white:hover,
.btnx-white:focus,
.btnx-white:active,
.btnx-white:visited {
    background-color: #D0D3D4;
    color: #131313;
}





/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.blue {
    background-color: #5775e7 ;
}

.shop-courses-btn:hover,
.shop-courses-btn:active,
.shop-courses-btn:focus {
    background: red;
    color: yellow;
}

.nav-style {
    font-weight: 500;
    font-size: 20px;
}

.btt-link,.update-link,.remove-item{
    cursor: pointer;
}

/* Footer */

footer {
    background-color: white;
    /* bottom: 0;
    position: absolute; */
    width: 100%;
    margin: 20px 0 0 0 ;
    padding: 25px;   
}

li i{
    color: #5775e7;
}

.social-networks {
    list-style: none;
    font-size: 25px;
    color: #f2ecce;
    letter-spacing: 10px;
}


/* ------------------------- Media Queries ------------------*/