@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

.fas {
    color: #5775e7;
}
html, body {
	background-color: #fcfcfc;
	color: #131313;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
    font-weight: 700;
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}


.btnx-white:hover,
.btnx-white:focus,
.btnx-white:active,
.btnx-white:visited {
    background-color: #D0D3D4;
    color: #131313;
}

.lookup {
    background-color:#7b7475;
}

.btn-outline {
    border: solid 2px #5775e7;
}

.blue-lock {
    color: #5775e7;
}

.navbar {
    background-color: #5775e7;

}

/* navigation */

.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.blue {
    background-color: #5775e7 ;
    color: #fff;
}

.shop-courses-btn:hover,
.shop-courses-btn:active,
.shop-courses-btn:focus {
    background: red;
    color: yellow;
}

.nav-style {
    font-weight: 300;
    font-size: 20px;
}

.white-nav {
    color: #fff;
}

a.white-nav:hover {
    color: #172f5f;
}

.btt-link,.update-link,.remove-item{
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.3em;
}


.message-container {
    position:fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    width: 400px;
}


.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    
}
/* Footer */

footer {
    background-color: #5775e7;;
    /* bottom: 0;
    position: absolute; */
    width: 100%;
    min-height: 100px;
    margin: 20px 0 0 0 ;
    padding: 25px;   
    color: #fff;
}

footer li i{
    color: #ffffff;
    margin: 10px 20px;
}

.social-networks {
    list-style: none;
    font-size: 25px;
    color: #f2ecce;
    letter-spacing: 10px;
}


/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4*/
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #178FE1;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #178FE1;
    border: 1px solid #178fe1;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #172f5f;
    border-color: #178FE1;
}

.allauth-form-inner-content a {
	color: #d27372;
    font-weight: 300; /* text-info */
}

/* - Profile css -*/
#profile-update-form .form-control {
    color: #000;
    border-color: #178FE1;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

.btn-blue {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #5775e7;
    border: 1px solid #5775e7;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
}

/* --------------Contact Us------------------*/
.contact-info {
    background-color: #178fe1;
    padding: 30px 0 30px 30px;
    color: #fff;
}


ul li.icon-white {
    display: inline-block;
    margin: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

.icon-white {
    border: 1px solid #fff;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 41px;
    vertical-align: middle;
    padding: 18px;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    padding-right: 30px;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    padding: 0 80px;
  }

  
/* -----Mail Chimp---------*/

#mc_embed_signup {
    background:#fff; false;
    clear:left; 
    font:14px Helvetica,Arial,sans-serif; 
    width: 350px;
}


/* ------------------------- Media Queries ------------------*/

@media screen and (min-width: 375px){
    .map-container iframe {
        padding: 0;
    }
    .desktop-nav{
        visibility: hidden;
       }
    
}

@media screen and (min-width: 620px){
    
    
  
}

@media only screen and (max-width: 900px) {
    .cart-item-img{
        display: none;
    }

    }
