{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--403 error  -->

    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="card justify-content-center border-warning" style="max-width: 600px; margin: 20px auto;">
        <img src="https://res.cloudinary.com/dne60wscn/image/upload/v1695745159/AquaKids/lifebuoy_wpyyvd.jpg"  alt="life buoy">
        <div class="card-body text-center">
          <h5 class="card-title">403</h5>
          <p class="card-text">Access Denied </p>
          <p class="card-text">Oops! It looks like you don't have permission to access this page.</p>
          <a href="/" class="btn btn-primary">Return to Home</a>
        </div>
      </div>
{% endblock %}