{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--404 error  -->

    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="card justify-content-center border-warning" style="max-width: 600px; margin: 20px auto;">
        <img src="https://res.cloudinary.com/dne60wscn/image/upload/v1696767192/AquaKids/lifebuoy_iq6yln.webp"  alt="life buoy">
        <div class="card-body text-center">
          <h5 class="card-title">404</h5>
          <p class="card-text">You've landed in the middle of the water</p>
          <p class="card-text">Hold on tight and we will take you back to safety. </p>
          <a href="/" class="btn btn-primary">Return to Home</a>
        </div>
      </div>
{% endblock %}