{% extends "base.html" %}
{% load static %}

<!-- for active navigation-->
{% block pagename %}courses{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">School Courses Management</h2>
                <h5 class="text-muted">Add a Course</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_course' %}" class="form mb-2">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div>
                        <a class="btn btn-outline" href="{% url 'courses' %}">Cancel</a>
                        <button class="btn btn-blue" type="submit"> Add a Course</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>

{% endblock %}
