{% extends "base.html" %}
{% load static %}

<!-- for active navigation-->
{% block pagename %}courses{% endblock %}

{% block content %}

    <div class="container mb-5">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Courses</h2>
                <hr class="w-50 mb-1">
            </div>
            <div class="card-group">
                {% for category in course_categories %}
                <div class="card">
                   
                    <div class="col">
                        <div class="card border-0">
                            {% if "placeholder" in category.image.url %}
                            <img class="card-img-top img-fluid rounded-start" src="https://res.cloudinary.com/dne60wscn/image/upload/v1695654768/AquaKids/placeholder_qkyuwm.jpg" alt="{{ category.name }}">
                            {% else %}
                            <img class="card-img-top img-fluid rounded-start" src="{{ category.image.url }}" alt="{{ category.name }}">
                            {% endif %}
                        </div>
                        
                        <div class="col">
                            <div class="card-body">
                                <h3 class="card-title">{{ category.course_type }}</h3>
                                <p class="card-text excerpt-height">{{ category.description }}</p>
                                    <div class="read-more"> 
                                        <div class="text-center"><a href="/courses/?category={{ category.course_type }}" class="btn btn-readmore btn-primary">Read More</a></div>
                                    </div>
                            </div>    
                        </div>
                    </div>     
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
