{% extends "base.html" %}
{% load static %}

<!-- for active navigation-->
{% block pagename %}courses{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/course-list.css' %}"/>
{% endblock %}



{% block content %}

    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">{{request.GET.category}} Courses</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="container mt-5 mb-5">
			<div class="d-flex justify-content-center row">
				<div class="col-md-10">

					{% for course in courses %}
					<div class="row p-2 bg-white border rounded mb-3">
						<div class="col-md-3 mt-1">
							{% if "placeholder" in course.image.url %}
                            <img class="card-img-top img-fluid rounded-start" src="https://res.cloudinary.com/dne60wscn/image/upload/v1695654768/AquaKids/placeholder_qkyuwm.jpg" alt="{{ category.name }}">
                            {% else %}
                            <img class="card-img-top img-fluid rounded-start" src="{{ course.image.url }}" alt="{{ category.name }}">
                            {% endif %}
						
						</div>
						<div class="col-md-6 mt-1">
							<h3>{{ course.name }}</h3>
							<div class="mt-1 mb-3 spec-1"><span class="dot"></span><span class="strong">Who is it for? </span><span>{{ course.level.who_for }}</span></div>
							<div class="mt-1 mb-3 spec-1"><span class="dot"></span><span class="strong">Skills Learned: </span><span>{{ course.level.skills }}</span></div>
							<div class="mt-1 mb-3 spec-1"><span class="dot"></span><span class="strong">Duration: </span><span>{{ course.duration }}</span></div>
							
						</div>	
						<div class="align-items-center align-content-center col-md-3 border-left mt-1">
							<div class="d-flex flex-row align-items-center">
								<h4 class="mr-1">€{{ course.price}}</h4>
							</div>

							{% if course.places < 1 %}
							<span class="badge badge-danger rounded-pill d-inline">Full</span>
							{% elif course.places < 4 %}
							<span class="badge badge-warning rounded-pill d-inline">{{ course.places }} places available</span>
							{% else %}
							<span class="badge badge-success rounded-pill d-inline">{{ course.places }} places available</span>
							{% endif %}
													
							
							<div class="d-flex flex-column mt-4">
								<div class="read-more"> 
									<div class="text-center"><a href="{% url 'course_detail' course.id %}" class="btn btn-readmore btn-primary">Read More</a></div>
								</div>
							</div>
							{% if request.user.is_superuser %}
							<hr>
								<div class="ml-3 text-center">
									<a href="{% url 'edit_course' course.id %}"><i class="fa-solid fa-pen"></i> Edit</a> &nbsp; &nbsp;
                            		<a class="text-danger" href="{% url 'delete_course' course.id %}"><i class="fa-solid fa-trash"></i> Delete</a>
								</div>
                        	{% endif %}
						</div>
					</div>                                                  
                	{% endfor %}
        		</div>
			</div>
		</div>	
    </div>

{% block testimonials %}
{% include "includes/testimonials.html" %}
{% endblock %}

{% endblock %}

