{% extends "base.html" %}
{% load static %}

<!-- for active navigation-->
{% block pagename %}courses{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if "placeholder" in course.image.url %}
                    <a href="">
                        <img class="card-img-top img-fluid rounded" src="https://res.cloudinary.com/dne60wscn/image/upload/v1696767191/AquaKids/placeholder_q0wcz9.webp" alt="placeholder image">
                    </a>
                    {% else %}
                    <a href="{{ course.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid rounded" src="{{ course.image.url }}" alt="{{ course.name }}">
                    </a>
                    
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <h3 class="mb-0">{{ course.name }}</h3>
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_course' course.id %}"><i class="fa-solid fa-pen"></i> Edit</a> &nbsp; &nbsp;
                            <a class="text-danger" href="{% url 'delete_course' course.id %}"><i class="fa-solid fa-trash"></i> Delete</a>
                        </small>
                    {% endif %}
                    
                    <p class="mt-3">{{ course.description }}</p>
                    <div class="mt-1 mb-1 spec-1"><span class="dot"></span><span class="strong"><strong>Who is it for?</strong> </span><span>{{ course.level.who_for }}</span></div>
					<div class="mt-1 mb-1 spec-1"><span class="dot"></span><span class="strong"><strong>Skills Learned:</strong> </span><span>{{ course.level.skills }}</span></div>
					<div class="mt-1 mb-1 spec-1"><span class="dot"></span><span class="strong"><strong>Duration:</strong> </span><span>{{ course.duration }}</span></div>

                    

                    <form class="form" action="{% url 'add_to_cart' course.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            
                            <div class="col-12">
                                <hr class="mt-1 mb-3">
                                <span class="strong mb-5"><strong>Start Date:</strong> </span><span>{{ course.start_date }}</span><br>
                                <span class="strong mb-5"><strong>Day:</strong>  </span><span>{{ course.day_of_the_week }}</span><br>
                                <span class="strong mb-5"><strong>Time: </strong> </span><span>{{ course.start_time }}</span><br>
                                <span class="strong mb-5"><strong>Cost:</strong>  </span><span> €{{ course.price }}</span><br>
                                
                                {% if course.places < 1 %}
                                <span class="badge badge-danger rounded-pill d-inline">Full</span>
                                {% elif course.places < 4 %}
                                <span class="badge badge-warning rounded-pill d-inline">{{ course.places }} places available</span>
                                {% else %}
                                <span class="badge badge-success rounded-pill d-inline">{{ course.places }} places available</span>
                                {% endif %}

                                <hr class="mt-3 mb-3">
                                <span class="strong mb-5"><strong>Quantity:</strong> </span>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn rounded-0" aria-label="minus sign"
                                                data-item_id="{{ course.id }}" id="decrement-qty_{{ course.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="{{ course.places }}"
                                            data-item_id="{{ course.id }}"
                                            id="id_qty_{{ course.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn rounded-0" aria-label="plus sign"
                                                data-item_id="{{ course.id}}" id="increment-qty_{{ course.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'courses' %}" class="btn btn-readmore ">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="btn btn-outline">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-readmore btn-primary" value="Add to Cart">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                        
                    </form>
                </div>
            </div> 
        </div>
    </div>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
{% include 'courses/includes/quantity_input_script.html' %}
{% endblock %}